@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web application is developed by IT Wing. Use it for inventory purpose. This Software is to be used by IT Personal Only.</p>